Repository Playaa93/application-saisie-fleetzen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @devops-team, @security-team, @performance-team

🚀 Préparation pour le déploiement Vercel
  .eslintrc.json
  .vercelignore
  DEPLOYMENT.md
  next.config.js
  scripts/cleanup-test-data.ts
  scripts/delete-test-vehicles.ts
  scripts/update-vehicles-with-type.ts
Owners: @your-github-username

Fix: Add .npmrc with legacy-peer-deps for Vercel deployment
  .npmrc
Owners: @your-github-username

Fix: Remove unused Drizzle schema imports for Vercel deployment
  src/db/intervention-schema.ts
  src/middleware/auth.ts
Owners: @your-github-username

Fix: Disable ESLint/TypeScript errors during build for deployment
  next.config.js
Owners: @your-github-username

Fix: Make DATABASE_URL optional for Vercel deployment (we use Supabase client)
  src/db/index.ts
Owners: @your-github-username

Fix: Make offline page a Client Component
  src/app/offline/page.tsx
Owners: @your-github-username

fix: Configure Vercel deployment - correct output directory and Next.js config
  .gitignore
Owners: @your-github-username

fix: Add vercel.json with Next.js framework config
  vercel.json
Owners: @devops-team

Add standalone output for Vercel
  next.config.js
Owners: @your-github-username

fix: Optimize Vercel deployment + ESLint corrections
  docs/architecture-analysis-2025-10-02.md
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/interventions/new/page.tsx
  src/app/(dashboard)/page.tsx
  src/app/api/auth/login/route.ts
  vercel.json
Owners: @your-github-username, @devops-team

feat: Add Cloudflare Pages deployment configuration
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .dev.vars
  CLOUDFLARE-DEPLOY.md
  package-lock.json
  package.json
  wrangler.toml
Owners: @your-github-username

feat: Add Netlify deployment configuration
  .gitignore
  netlify.toml
  package-lock.json
  package.json
Owners: @your-github-username

cleanup: Remove Cloudflare/Netlify artifacts & optimize for Vercel
  .dev.vars
  .vercelignore
  CLOUDFLARE-DEPLOY.md
  netlify.toml
  package.json
  wrangler.toml
Owners: @your-github-username

fix: Remove standalone output for Vercel compatibility
  next.config.js
Owners: @your-github-username

refactor: Restructure app routes and add mobile components
  next.config.js
  package-lock.json
  package.json
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/page.tsx
  src/app/interventions/form/[type]/page.tsx
  src/app/interventions/history/page.tsx
  src/app/interventions/new/page.tsx
  src/app/interventions/page.tsx
  src/app/nouvelle-intervention/page.tsx
  src/app/offline/page.tsx
  src/app/profile/page.tsx
  src/components/mobile/AppShell.tsx
  sync-dist.js
  vercel.json
Owners: @your-github-username, @devops-team

feat: Apply Vercel-inspired design system with FleetZen colors
  src/app/globals.css
  src/app/interventions/page.tsx
  src/app/nouvelle-intervention/page.tsx
  src/app/offline/page.tsx
  src/app/page.tsx
  src/components/StepsSidebar.tsx
  src/components/interventions/CarburantCuveSteps.tsx
  src/components/interventions/CarburantLivraisonSteps.tsx
  src/components/interventions/LavageSteps.tsx
  src/components/interventions/Step1TypePrestation.tsx
  src/components/mobile/AppShell.tsx
  src/components/mobile/HomeButton.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
Owners: @your-github-username

feat: Add BottomNav to nouvelle-intervention page
  src/app/nouvelle-intervention/page.tsx
Owners: @your-github-username

refactor: Remove HomeButton component
  src/app/nouvelle-intervention/page.tsx
  src/components/mobile/AppShell.tsx
  src/components/mobile/HomeButton.tsx
Owners: @your-github-username

feat: Add BottomNav to home page
  src/app/page.tsx
Owners: @your-github-username

fix: Correct navigation URL for nouvelle intervention
  src/components/mobile/BottomNav.tsx
Owners: @your-github-username

refactor: Remove duplicate intervention pages
  src/app/interventions/form/[type]/page.tsx
  src/app/interventions/new/page.tsx
Owners: @your-github-username

feat: Connect history page to Supabase
  src/app/interventions/history/page.tsx
Owners: @your-github-username

fix: Remove sync-dist.js causing Vercel build issues
  sync-dist.js
Owners: @your-github-username

fix: Handle null values in history page search filter
  src/app/interventions/history/page.tsx
Owners: @your-github-username

feat: Connect interventions API to Supabase
  src/app/api/interventions/route.ts
  src/lib/supabase.ts
Owners: @your-github-username

fix: Correction soumission interventions et affichage liste
  src/app/api/interventions/route.ts
  src/app/nouvelle-intervention/page.tsx
Owners: @your-github-username

fix: Support complet photos Remplissage Cuve et ajout heure d'envoi
  src/app/api/interventions/[id]/route.ts
  src/app/api/interventions/route.ts
  src/app/interventions/[id]/page.tsx
  src/app/interventions/page.tsx
  src/app/nouvelle-intervention/page.tsx
  src/components/PhotoUploadMultiple.tsx
  src/components/interventions/CarburantLivraisonSteps.tsx
  src/components/interventions/LavageSteps.tsx
  supabase/.temp/cli-latest
  supabase/storage-policies.sql
Owners: @your-github-username

style: Migration complète vers système de thème CSS variables
  src/app/interventions/history/page.tsx
  src/app/page.tsx
  src/components/PhotoUpload.tsx
  src/components/PhotoUploadMultiple.tsx
  src/components/StepsSidebar.tsx
  src/components/interventions/Step1TypePrestation.tsx
Owners: @your-github-username

feat: Dark mode avec 3 options (Jour, Nuit, Système)
  src/app/layout.tsx
  src/app/profile/page.tsx
  src/app/settings/page.tsx
  src/components/providers/ThemeProvider.tsx
Owners: @your-github-username

feat: Ajout véhicules Intermarché et amélioration cascade
  CHANGELOG.md
  CLAUDE.md
  package-lock.json
  package.json
  scripts/apply-migration.js
  src/app/api/migrate/route.ts
  src/app/api/sites/route.ts
  src/app/api/vehicle-categories/route.ts
  src/app/api/vehicles/check/route.ts
  src/app/api/vehicles/link/route.ts
  src/app/api/vehicles/route.ts
  src/app/interventions/history/page.tsx
  src/app/layout.tsx
  src/components/AddVehicleDialog.tsx
  src/components/ConnectionStatus.tsx
  src/components/LinkVehicleDialog.tsx
  src/components/interventions/CarburantLivraisonSteps.tsx
  src/components/interventions/LavageSteps.tsx
  src/components/ui/alert.tsx
  src/components/ui/dialog.tsx
  src/hooks/useOnlineStatus.ts
  supabase/migrations/20250103_add_vehicle_site_category.sql
Owners: @your-github-username

design: Refonte branding FleetZen style Perplexity
  src/app/globals.css
Owners: @your-github-username

feat: Ajout logo FleetZen et refonte page d'accueil
  logo-fleetzen.svg
  public/logo-fleetzen.svg
  src/app/page.tsx
Owners: @your-github-username

feat: Activation PWA "Ajouter à l'écran d'accueil"
  ci/sync-dist.js
  package.json
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-180x180.png
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.json
  public/register-sw.js
  scripts/generate-icons.js
  src/app/layout.tsx
  src/app/offline/page.tsx
Owners: @your-github-username

fix: Désactiver focus automatique sur champ recherche dropdown
  src/components/SearchableCombobox.tsx
Owners: @your-github-username

feat: Masquer client FleetZen - Opérations Internes
  src/app/api/clients/route.ts
Owners: @your-github-username

feat: Dropdown intelligent - D\u00e9tection position automatique
  src/components/SearchableCombobox.tsx
Owners: @your-github-username

feat: Script cr\u00e9ation agents avec mot de passe hash\u00e9
  scripts/create-agents.js
Owners: @your-github-username

feat: Implement Supabase Auth native authentication
  scripts/apply-password-hash-migration.js
  scripts/migrate-to-supabase-auth.js
  scripts/sync-auth-agents.js
  src/app/api/auth/login/route.ts
  src/lib/auth.ts
  src/lib/supabase.ts
  src/middleware.ts
  supabase/migrations/20251003_make_password_hash_nullable.sql
Owners: @your-github-username

feat: Connect login page to Supabase Auth API
  src/app/(auth)/login/page.tsx
Owners: @your-github-username

feat: Create real admin user
  scripts/create-real-admin.js
Owners: @your-github-username

.github/CODEOWNERS:

# This file defines code ownership for the repository
# Changes to these files require approval from specified owners

# Default owners for everything in the repo
* @your-github-username

# Workflow files require DevOps team approval
/.github/workflows/ @your-github-username @devops-team

# Security-related files require security team approval
/.github/workflows/security.yml @security-team
/config/lighthouse-budget.json @performance-team

# Infrastructure and deployment
/vercel.json @devops-team
/Dockerfile @devops-team
/.dockerignore @devops-team

# Package dependencies
/package.json @your-github-username
/package-lock.json @your-github-username

# Configuration files
*.config.js @your-github-username
*.config.ts @your-github-username
tsconfig*.json @your-github-username
.eslintrc* @your-github-username
